* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #e5e5e5;
  font-family: "Lato", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.grid {
  width: 40rem;
  height: 60rem;
  background-color: #ffff;
  border-radius: 1rem;
}

.item__one-title {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
}

.one__title-inner h1 {
  font-weight: 900;
}
.tic,
.tac__c,
.e {
  color: #00ffff;
}
.i,
.tac,
.o {
  color: #ffd600;
}
.c,
.a,
.toe {
  color: #ff0000;
}

.tic__item {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.tic__item-x {
  color: #ff0000;
  font-size: 10rem;
  font-weight: 900;
}
.tic__item-o {
  color: #0075ff;
  font-size: 9rem;
  font-weight: 600;
}

.one__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
}
.tic__btn {
  padding: 1rem 6rem;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}

.tic__btn:active {
  filter: opacity(25%);
}

.item__two-title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  gap: 1rem;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-weight: 400;
  color: #000;
}
.item__two-border {
  border: 0.5rem solid #ff0000;
  width: 13rem;
  border-radius: 1rem;
  margin-left: 4%;
}
.choose__game-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 70%;
  align-items: center;
  padding-left: 7%;
}
.multipleyr__grid {
  width: 16rem;
  height: 18rem;
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.img__multi {
  height: 11rem;
}

.multiplayer-2 {
  background-color: #00c2ff;
}

.multiplayer-3 {
  background: #ff7008;
}

.multiplayer-4 {
  background: #1e6bff;
}

.multpleyr__sub {
  width: 12rem;
  height: 20%;
  border-top: 2px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #ffffff;
}

.item__theree-title {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  color: #0057ff;
}
.theree__border {
  width: 85%;
  border: 0.7rem solid #ff0000;
  border-radius: 1rem;
}
.player__one {
  width: 70%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1rem;
}
.player__one-left {
  width: 12rem;
  height: 17rem;
  background: #1263ff;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.you {
  border-bottom: 2px solid #ffff;
  width: 70%;
  font-size: 1.6rem;
  color: #ffff;
  display: flex;
  justify-content: center;
  height: 15%;
}

.one__inner {
  font-size: 4rem;
  color: #ff0000;
  font-weight: 700;
}

.one__inner2 {
  font-size: 4rem;
  color: #0075ff;
  font-weight: 500;
}

.player__one-rihgt {
  width: 12rem;
  height: 17rem;
  background: #ef5f5f;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card__item {
  width: 90%;
  height: 52%;
  margin: auto;
  background: linear-gradient(180deg, #ff0000 0%, #0080f7 100%);
  border-radius: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
}
.card {
  width: 9rem;
  height: 9rem;
  background: #ffffff;
  border-radius: 2rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cal-1,
.cal-2,
.cal-5,
.cal-9,
.cal-8 {
  color: #0075ff;
  font-size: 9rem;
  font-weight: 600;
}

.cal-3,
.cal-4,
.cal-6,
.cal-7 {
  color: #ff0000;
  font-size: 9rem;
  font-weight: 900;
}

.hidden {
  display: none;
}

.item-four {
}
